/* 輪播 S */
    /* 變數設定 S */
    :root{
        --carousel_item_height1:460px;/*300px*/
        --carousel_item_height2:540px;/*380px*/
        --background_url_bg1:url(../img/banner/index-maehe2-1.jpg)no-repeat;
        --background_url_bg2:url(../img/banner/HOME-Smiconductor1.jpg)no-repeat;
        --background_url_bg3:url(../img/banner/HOME-Kinkakuji1.jpg)no-repeat;
        --background_url_bg4:url(../img/banner/HOME-Arashiyama1.jpg)no-repeat;
        --background_url_bg5:url(../img/banner/HOME-021.jpg)no-repeat;
        --background_url_bg6:url(../img/banner/HOME-1011.jpg)no-repeat;
        --background_url_bg7:url(../img/banner/HOME-taipei1.jpg)no-repeat;
    }
    /* 變數設定 E */

    #carouselExampleCaptions{background-color: rgb(32, 62, 65); margin-top: var(--nav-height2);}/**/
    #carouselExampleCaptions .carousel-item{height: var(--carousel_item_height1);}

    .carousel-inner{position: relative; overflow: hidden;}

    .carousel-item .txtbox{position: absolute; margin: auto; left: 0; right: 0; z-index: 1; width: 100%; display: flex; text-align: center; justify-content: center;}
    .carousel-item.bg1 .txtbox{background: rgba(255, 255, 255, 0.55); color: rgb(0, 85, 28); bottom: 41.3%; width: 60%; min-width: 240px; padding: 1rem; font-size: 2rem; font-weight: 700; backdrop-filter: blur(10px); border-radius: 5px;}/**/
    .carousel-item.bg2 .txtbox{background: rgba(0, 0, 0, 0.8); color: #fff; bottom: 40px; padding: 8PX 0; font-size: 1.2rem;}
    
    #carouselExampleCaptions .carousel-item.bg1::after{background: var(--background_url_bg1);}
    #carouselExampleCaptions .carousel-item.bg1::before{background: var(--background_url_bg1);}
    #carouselExampleCaptions .carousel-item.bg2::after{background: var(--background_url_bg2);}
    #carouselExampleCaptions .carousel-item.bg2::before{background: var(--background_url_bg2);}
    #carouselExampleCaptions .carousel-item.bg3::after{background: var(--background_url_bg3);}
    #carouselExampleCaptions .carousel-item.bg3::before{background: var(--background_url_bg3);}
    #carouselExampleCaptions .carousel-item.bg4::after{background: var(--background_url_bg4);}
    #carouselExampleCaptions .carousel-item.bg4::before{background: var(--background_url_bg4);}
    #carouselExampleCaptions .carousel-item.bg5::after{background: var(--background_url_bg5);}
    #carouselExampleCaptions .carousel-item.bg5::before{background: var(--background_url_bg5);}
    #carouselExampleCaptions .carousel-item.bg6::after{background: var(--background_url_bg6);}
    #carouselExampleCaptions .carousel-item.bg6::before{background: var(--background_url_bg6);}
    #carouselExampleCaptions .carousel-item.bg7::after{background: var(--background_url_bg7);}
    #carouselExampleCaptions .carousel-item.bg7::before{background: var(--background_url_bg7);}

    #carouselExampleCaptions .carousel-item.bg1::after, 
    #carouselExampleCaptions .carousel-item.bg2::after,
    #carouselExampleCaptions .carousel-item.bg3::after, 
    #carouselExampleCaptions .carousel-item.bg4::after, 
    #carouselExampleCaptions .carousel-item.bg5::after, 
    #carouselExampleCaptions .carousel-item.bg6::after, 
    #carouselExampleCaptions .carousel-item.bg7::after{background-size: auto var(--carousel_item_height1); position: absolute; content: ' '; width: 100%; height: 100%; background-position:top center;} 

    #carouselExampleCaptions .carousel-item.bg1::before, 
    #carouselExampleCaptions .carousel-item.bg2::before,
    #carouselExampleCaptions .carousel-item.bg3::before,
    #carouselExampleCaptions .carousel-item.bg4::before,
    #carouselExampleCaptions .carousel-item.bg5::before,
    #carouselExampleCaptions .carousel-item.bg6::before,
    #carouselExampleCaptions .carousel-item.bg7::before{filter: blur(10px) opacity(80%);  position: absolute; content: ' ';width: 100%; height: 100%; background-size: 100% auto; background-position:center center;}


/*
    #carouselExampleCaptions{background-color: rgb(255, 200, 148);}
    #carouselExampleCaptions .carousel-item.bg1,
    #carouselExampleCaptions .carousel-item.bg2,
    #carouselExampleCaptions .carousel-item.bg3,
    #carouselExampleCaptions .carousel-item.bg4,
    #carouselExampleCaptions .carousel-item.bg5,
    #carouselExampleCaptions .carousel-item.bg6{height: 300px;}

    #carouselExampleCaptions .carousel-item.bg1{background: url(../img/banner/HOME-Smiconductor1.jpg)no-repeat; background-size: auto 100% ; background-position:top center;}
    .bg1{position: relative;}
    .bg1 .txt{width: 100%; color: #fff; padding: 8PX 0; text-align: center; background: rgba(0, 0, 0, 0.8); font-size: 1.2rem; position: absolute; display: flex; bottom: 40px; justify-content: center;}

    #carouselExampleCaptions .carousel-item.bg2{background: url(../img/banner/HOME-Kinkakuji.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg3{background: url(../img/banner/HOME-Arashiyama.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg4{background: url(../img/banner/HOME-02.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg5{background: url(../img/banner/HOME-101.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg6{background: url(../img/banner/HOME-taipei.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
*/
/* 輪播 E */



/*.index .area{padding: 2rem 0;}*/
.area.banner{display: flex; align-items: center;/*垂直置中*/}

/*.container{display: flex; justify-content: center;}左右置中*/
/*.banner .wrap{display: flex; justify-content: center;}左右置中*/


.content{ margin-top: 2rem;}

.banner-title-background-color{/*.banner .wrap*/
    width: 100%;/**/
    text-align: center;
    background-color: rgba(255, 255, 255, 0.45);/*rgba(255, 255, 255, 0.65)*/
    border-radius: 5px;/**/
    padding:30px;
}


.mezasu{
    height: 760px;/*500px*/
    background: url(../img/banner/index-maehe2-1.jpg) center 70% no-repeat;
    background-size: cover;/* 背景自動縮放 */
    position: relative;
}
/*.mezasu .container{width: 100vw;}
.mezasu .wrap{width: 90%; }*/

.mezasu .banner-product{
    position: absolute;
    width: 100vw; 
    height: 100px;
    bottom: 0px;
    display: flex;
    text-align: center;        
}
.mezasu .banner-product .item{width: 25%; background-color: #ffffff22;}

.focus .wrap{max-height: 628px;}
.focus .banner-title-background-color{background-color: rgba(255, 255, 255, 0.75);}/* overflow-y: auto;*/
.focus p{max-height: 450px;}
.focus{
    height: 640px;
    background: url(../img/banner/Semiconductor_Probing.jpg) 50% 50% no-repeat;/* 背景自動縮放/固定 */
    background-size: cover;/* 背景自動縮放 */
    background-attachment: fixed;/* 背景固定 */
}


.Shadow{box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.45); backdrop-filter: blur(10px);}
.mezasu .Shadow{box-shadow: 0px 3px 15px 2px #207c0a; backdrop-filter: blur(10px);}

.Orange-title{font-size: 2rem; color: #26910c;/*ff8800*/
    text-shadow:
    -1px -1px 0 rgba(236, 253, 232, 0.5),
    1px -1px 0 rgb(255, 255, 255, 0.5),
    -1px 1px 0 rgb(255, 255, 255, 0.5),
    1px 1px 0 rgb(255, 255, 255, 0.5);
}
.banner h2{padding-bottom: .8rem;}/*color: #000; margin-bottom: 1rem; border-bottom: 1px solid #ff8800; */






@media (min-width: 768px){
    *{letter-spacing: .15rem;}
    #carouselExampleCaptions{margin-top: var(--nav-height);}
    .carousel-item.bg1 .txtbox{font-size: 2.5rem;}
    #carouselExampleCaptions .carousel-item{height: var(--carousel_item_height2);}

    #carouselExampleCaptions .carousel-item.bg1::after, 
    #carouselExampleCaptions .carousel-item.bg2::after,
    #carouselExampleCaptions .carousel-item.bg3::after, 
    #carouselExampleCaptions .carousel-item.bg4::after, 
    #carouselExampleCaptions .carousel-item.bg5::after, 
    #carouselExampleCaptions .carousel-item.bg6::after, 
    #carouselExampleCaptions .carousel-item.bg7::after{background-size: auto var(--carousel_item_height2);} 

    /*
    #carouselExampleCaptions .carousel-item.bg1,
    #carouselExampleCaptions .carousel-item.bg2,
    #carouselExampleCaptions .carousel-item.bg3,
    #carouselExampleCaptions .carousel-item.bg4,
    #carouselExampleCaptions .carousel-item.bg5,
    #carouselExampleCaptions .carousel-item.bg6{height: 380px;background-size: auto 100%;}
    */

}