    /*@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");*/
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

    :root{
        --body_background-color:#ffffff;/*#195E87*/
        --logo_blue:rgba(0, 167, 234, 1);/*#00A7EA*/

    }

    body {background-color: var(--body_background-color);}/**/

    * {margin: 0; padding: 0; list-style: none; font-family: 'Noto Sans TC', sans-serif;}
    a, a:hover {text-decoration: none;color: #000;}
    p {font-weight: 300;line-height: 0.8rem;}
    ol li {
        list-style-type: square;
        font-weight: 300;
        line-height: 2rem;
    }


    .card img{
        width: 120px;
        height: auto;
        /*object-fit: cover; 填滿元素的寬度及高度(維持原比例)，通常會剪掉超出部分的物件。*/
    }


    footer {
        background-color: #313131;
        width: 100%;
        font-size: 0.8rem;
    }

    #footer, #footer a {color: #bdbdbd;}
    .copyright {border-top: 1px solid #bdbdbd; padding-top: 8px;}


      /*回到最上按鈕 起始*/
    
      #gotop {
        position:fixed;
        z-index:90;
        right:30px;
        bottom:31px;
        display:none;
        width:50px;
        height:50px;
        color:#fff;
        background:#33b5e5;
        line-height:50px;
        border-radius:50%;
        /*transition:all 0.5s;*/
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    #gotop :hover{
        background:#0099CC;
    }
      /*回到最上按鈕 結束*/

    /* 如果要固定上方選單要註銷這個區塊的註解 起始*/
    /*固定選單*/
    .navFixed {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        min-width: 100%;
        /*opacity: .99;*/
        transition: opacity .3s ease-out;
    }
    
    /*.change-mt3{margin-top: 6rem!important;}*/
    /*.carousel, .banner1{margin-top: 65px;}*/
    /*補上選單空間*/
    /*.mt-add80 {margin-top: 75px;} 
    .new-body-mt{margin-top: 60px;} 補上選單空間*/
    /*如果要固定上方選單要註銷這個區塊的註解 結束*/




    .top_space{margin-top: 65px;}/*65px*/
    .area{padding: 2rem 0;}
    .area.banner{display: flex; align-items: center;/*垂直置中*/}
    .container{display: flex; justify-content: center;/*左右置中*/ padding: 0;}
    .wrap{width: 100%; padding: 30px;}
    .content{ margin-top: 2rem;}

    .banner .wrap{
        width: 90%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.75);        
        border-radius: 10px;
    }

    .mezasu{
        height: 100vh;/*500px*/
        background: url(../img/banner/index-maehe2.jpg) center 70% no-repeat;
        background-size: cover;/* 背景自動縮放 */
    }

    .syaikai{
        height: 70vh;
        background: url(../img/banner/Semiconductor_Probing.jpg) 50% 50% no-repeat;
        /* 背景自動縮放/固定 */
        background-size: cover;/* 背景自動縮放 */
        background-attachment: fixed;/* 背景固定 */
        border-top: 1rem #1a4700 solid;
    }

    .Shadow{box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.45);}
    .mezasu .Shadow{box-shadow: 0px 3px 15px 2px #113000;}
  
    .Orange{color: rgb(255, 123, 0);}
    .container h2{margin-bottom: 1rem; border-bottom: 1px solid rgb(255, 123, 0); padding-bottom: .8rem;}
    .BG_Green{background-color: rgb(230, 255, 219);}
    .BG_Blue{background-color: rgb(210, 241, 255);}
    
    .img_box{width: 100%; text-align: center; overflow: hidden; border-radius: 10px;}
    .img_box img{width: 100%;}


/* ----- multiple-items 設定區S ----- */
    .carousel-card{margin-bottom: 20px; /*border-left: 1px solid var(--logo_blue);*/}
    .carousel-card .slick-list{padding-bottom: 20px; border-top: 1px solid var(--logo_blue);}
    /*.multiple-items{border-top: 1px solid var(--logo_blue);}*/

    

    .carousel-card .heand{ 
        width: 85px;
        height: 40px;
        line-height: 40px;
        background-color: var(--logo_blue);
        color: #fff;
        font-size: 1.1rem;
        padding-left: 1rem;
        text-align: center;
        position: relative;
    }
    .carousel-card a{font-weight: 700;}
    .carousel-card .serial_number{font-size: 0.9rem;}
    .carousel-card .text{font-size: 0.85rem;}

    /* 斜角 */
    .carousel-card .heand::after{
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 0 50px;
        border-color: transparent transparent transparent var(--logo_blue)  ;
    }

    .carousel-card .slick-slide{
        margin:1rem 0.5rem;
        padding: 0.5rem 0;
        height: auto;
        text-align: center;
        background-color: #ffffff00;
        border: 1px solid #cfcfcf;
    }
    
    
    .multiple-items a:hover {color: var(--logo_blue);}
    .multiple-items .item{font-size: 1rem; /*border: 1px solid rgba(255, 255, 255, 0);*/}
    /*.multiple-items a:hover .item{border-bottom: 1px solid var(--logo_blue); border-radius: 0rem;}*/
    
    /* img還原定位 S */
    .multiple-items .slick-slide img{position: unset; width: 50%; transform:translateY(0%); margin:0px 0px 10px;}
    /* img還原定位 E */

    /* 產品區上下頁按鈕位置調整 S */
    .multiple-items .slick-prev, .multiple-items .slick-next {width: 30px; height: 30px; bottom: -13px;}
    .multiple-items .slick-prev{left: 0.5rem;}
    .multiple-items .slick-next{right: 0.5rem;}
    .multiple-items .slick-prev:before, .multiple-items .slick-next:before{font-size: 30px;}
    .multiple-items .slick-prev:before, .multiple-items .slick-next:before{color:var(--logo_blue) ;}
    /* 產品區上下頁按鈕位置調整 E */

    /* 產品區分頁按鈕位置調整 E */
    .multiple-items .slick-dots{bottom: 8px;}
    .multiple-items .slick-dots li button:before{background-color:var(--logo_blue) ;}
    /* 產品區分頁按鈕位置調整 E */

/* ----- multiple-items 設定區E ----- */

@media (max-width: 500px) {

}


    @media (min-width: 992px) {

        .container{max-width: 992px;}
        .banner .container{width: 580px;}
        .banner .wrap{width: 100%;}
        .BG_Green .item{display: flex; align-items: center; }
        .img_box{width: 40%;}
        .content{width: 60%; margin-top: 0rem; margin-left: 2rem;}

        .carousel-card .heand{    
            width: 130px;
            font-size: 1.5rem;
            padding-left: 1.2rem;
        }
        .carousel-card .serial_number{font-size: 1.2rem;}
        .carousel-card .text{font-size: 1rem;}



        /*.content_box{width: 60%; margin: 0 0 0 50px; }*/

        /*.img_Fixed .content_box{ width: 90%; margin: 0 50px 0 50px;}*/

        /*.Left .content_box{order: 1; text-align: right; margin: 0 50px 0 0;}
        .Left .img_box{order: 2;}*/

    }


/* 測試區 */

    /*.container.main-container{color: #ffffff;}
    .row{--bs-gutter-x: 2rem;}*/

    /*.pdfdl {text-align: center; margin-top: -10px ; position: relative;}
    .pdfdl a {color: #bbbbbb; border-radius: .25rem; transition: .3s; padding: .2rem 2rem .3rem;
    }
    .pdfdl a:hover {border: 1px solid #ffffff;color: #ffffff;}
    .pdfdl i{margin-left: 0.5rem;}*/

    /*    
    .pdfdl a {
        padding: .2rem 2.2rem .4rem .8rem;
        position: relative;
    }
    .pdfdl a::after {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f1c1";
        font-size: 1.2rem;
        margin-top: .1rem;
        margin-left: 0.5rem;
    }
    */

    
    /*.card.about{
        background-color: rgba(255, 255, 255, 0.2);
        color:#ffffff;
        border: 0px;
        border-left:1px solid #ffffff;
    }

    .white-title {
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
    }

    h6.work-content-title{border-bottom: 1px solid #000;padding-bottom: 3px; margin-bottom: 3px;}
    .work-content-wrap small{font-size: 0.8rem;}*/

    /*.text-muted{color:#dddddd!important;}*/

    @media (max-width: 576px) {
        /*.carousel-item, .banner1  {height: 180px;}*/
      }
    @media (min-width: 768px) {
        /*.card img{width: 50%; height: 50%; 
            object-fit: cover; 填滿元素的寬度及高度(維持原比例)，通常會剪掉超出部分的物件。
        }*/
    }
    @media (min-width: 1200px) {
        /*.card img{ width: 90%; height: 90%;
            object-fit: cover; 填滿元素的寬度及高度(維持原比例)，通常會剪掉超出部分的物件。
        } */
    }
/* 測試區 */