    /*@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");*/
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

    :root{
        --body_bg-color:#f2fdff;/*#195E87*/
        --logo_blue:rgba(0, 167, 234, 1);/*#00A7EA*/
        --logo_blue_03:rgba(0, 167, 234, 0.3);/*#00A7EA*/
        --logo_blue_0125:rgba(0, 167, 234, 0.125);/*#00A7EA*/
        --h2_color:#0c69c0;/*#1d5a5c*/
        --category_bg-color:#0c69c0;
        --btn-color_background-color:rgba(1, 64, 80, 1);

    }

    body {background-color: var(--body_bg-color);}/**/

    * {margin: 0; padding: 0; list-style: none; font-family: 'Noto Sans TC', sans-serif; letter-spacing:.05rem;}
    h2{margin-bottom: 1rem; color:var(--h2_color); border-bottom: 1px solid var(--h2_color); padding-bottom: .8rem;}
    h4, h5{margin: 0.5rem 0rem 1rem;}
    a{text-decoration: none; color: #000;}
    a:hover {color: var(--logo_blue)}
    p {font-weight: 300; margin-bottom: 0rem; /*line-height: 0.8rem;*/}
    ol, ul {padding: 0rem; margin: 0rem;}
    ol li {list-style-type: square; font-weight: 300; line-height: 2rem; }
    .item {margin: 1rem 0;}

    .card, .card-header, .card-footer{border-color:var(--logo_blue_03) ;}
    .card-header, .card-footer{background-color:var(--logo_blue_0125) ;}
    .card-body{padding: 0rem 1rem 1rem;}

    #footer {
        background-color: #313131;
        width: 100%;
        font-size: 0.8rem;
        padding-top: 1rem;
    }
    #footer p{line-height:unset; letter-spacing:0.02rem;}
    #footer ul{padding-left: 0rem;}
    #footer, #footer a {color: #bdbdbd;}
    #footer a:hover{color: #ffffff; border-bottom: 1px solid #ffffff;}

    .copyright {border-top: 1px solid #bdbdbd; padding-top: 8px;}


      /*回到最上按鈕 起始*/
    
    #gotop {
        position:fixed;
        z-index:90;
        right:30px;
        bottom:31px;
        display:none;
        width:50px;
        height:50px;
        color:#fff;
        background:#33b6e58e;
        line-height:50px;
        border-radius:50%;
        /*transition:all 0.5s;*/
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    #gotop:hover{
        background:var(--logo_blue);
    }
      /*回到最上按鈕 結束*/

    /* 如果要固定上方選單要註銷這個區塊的註解 起始*/
    /*固定選單*/
    .navFixed {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        min-width: 100%;
        /*opacity: .99;*/
        transition: opacity .3s ease-out;
    }
    
    /*.change-mt3{margin-top: 6rem!important;}*/
    /*.carousel, .banner1{margin-top: 65px;}*/
    /*補上選單空間*/
    /*.mt-add80 {margin-top: 75px;} 
    .new-body-mt{margin-top: 60px;} 補上選單空間*/
    /*如果要固定上方選單要註銷這個區塊的註解 結束*/




    .top_space{margin-top: 58px;}/*65px*/

    /*.index .area{padding: 2rem 0;}*/
    .area.banner{display: flex; align-items: center;/*垂直置中*/}
    .container{display: flex; justify-content: center;/*左右置中*/ padding: 0;}
    .wrap{width: 100%; padding: 30px;}
    .content{ margin-top: 2rem;}

    .banner .wrap{
        width: 90%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);        
        border-radius: 10px;
    }

    .mezasu{
        height: 100vh;/*500px*/
        background: url(../img/banner/index-maehe2.jpg) center 70% no-repeat;
        background-size: cover;/* 背景自動縮放 */
    }

    .syaikai{
        height: 90vh;
        background: url(../img/banner/Semiconductor_Probing.jpg) 50% 50% no-repeat;
        /* 背景自動縮放/固定 */
        background-size: cover;/* 背景自動縮放 */
        background-attachment: fixed;/* 背景固定 */
        /*border-top: 1rem #0000005e solid;*/
    }

    .Shadow{box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.45);}
    .mezasu .Shadow{box-shadow: 0px 3px 15px 2px #113000;}
  
    .Orange{color: #ff8800;/*rgb(255, 123, 0)*/}
    .banner h2{padding-bottom: .8rem;}/*color: #000; margin-bottom: 1rem; border-bottom: 1px solid #ff8800; */
    
    .BG_Green{
        background-color: rgb(230, 255, 219);
        /*height: 50vh;*/
        /*display: flex;
        align-items: center;*/
        /* background:url(../img/banner/green_mos.jpg) left top no-repeat;
        background-size:100%
        background-size: cover;背景自動縮放 */
    }
    .BG_Green .item{width: 100%; margin: 0rem; padding: 2rem;}
    .BG_Green .item:nth-child(2){padding-top: 0rem;}/*第二個item*/
    .BG_Blue{background-color: rgb(210, 241, 255);}
    
    .img_box{width: 100%; text-align: center; overflow: hidden;}
    .img_box img{width: 100%;}


/* ----- multiple-items 設定區S ----- */
    .carousel-card{margin-bottom: 20px;}
    .carousel-card .slick-list{padding-bottom: 20px; /*border-top: 1px solid var(--logo_blue);*/ margin-top: -1px;}


    

    .carousel-card .category, .category{ 
        width: 85px;/**/
        height: 40px;
        line-height: 40px;
        background-color: var(--category_bg-color);/*#a0a0a0*/
        color: #fff;
        font-size: 1.1rem;
        /*text-align: center;*/
        position: relative;
        padding-left: 10px;
    }
    .carousel-card a{font-weight: 700;}
    .carousel-card .serial_number{font-size: 0.9rem;}
    .carousel-card .text{font-size: 0.85rem;}

    /* 斜角 (三角形畫法)
    .carousel-card .category::after, .category::after{
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 0 40px;
        border-color: transparent transparent transparent var(--category_bg-color);
    }*/

    /* 斜角 (平行四邊形畫法) */
    .carousel-card .category::after, .category::after{
        content: "";
        position: absolute;
        background-color: var(--category_bg-color);
        width: 40px;
        height: 40px;        
        z-index: 0;
        top: 0px;
        right: -20px;
        transform: skew(45deg);
        -o-transform: skew(45deg);
        -moz-transform: skew(45deg);
        -webkit-transform: skew(45deg);
    }


    .carousel-card .slick-slide{
        margin:1rem 0.5rem;
        padding: 0.5rem 0;
        height: auto;
        text-align: center;
        background-color: #ffffff00;
        border: 1px solid var(--logo_blue_03);/*#cfcfcf*/
    }
    
    
    /*.multiple-items a:hover {color: var(--logo_blue);}*/
    .multiple-items .item{font-size: 1rem; /*border: 1px solid rgba(255, 255, 255, 0);*/}
    /*.multiple-items a:hover .item{border-bottom: 1px solid var(--logo_blue); border-radius: 0rem;}*/
    
    /* img還原定位 S */
    .multiple-items .slick-slide img{position: unset; width: 50%; transform:translateY(0%); margin:0px 0px 10px;}
    /* img還原定位 E */

    /* 產品區上下頁按鈕位置調整 S */
    .multiple-items .slick-prev, .multiple-items .slick-next {width: 30px; height: 30px; bottom: -13px;}
    .multiple-items .slick-prev{left: 0.5rem;}
    .multiple-items .slick-next{right: 0.5rem;}
    .multiple-items .slick-prev:before, .multiple-items .slick-next:before{font-size: 30px;}
    .multiple-items .slick-prev:before, .multiple-items .slick-next:before{color:var(--logo_blue) ;}
    /* 產品區上下頁按鈕位置調整 E */

    /* 產品區分頁按鈕位置調整 E */
    .multiple-items .slick-dots{bottom: 8px;}
    .multiple-items .slick-dots li button:before{background-color:var(--logo_blue) ;}
    /* 產品區分頁按鈕位置調整 E */




    .banner1 { width: 100%;height: 200px; background-color: #000000;}/*margin-bottom: 15px;*/
    .container1 {width: 90%; height: 100%; margin: auto;}
    .banner1-txt {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #ffffff;
    }
    .banner1-txt h1{border-bottom: 1px solid #ffffff; padding-bottom: 10px;}

    .banner1.news{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/NEWS.jpg")no-repeat left 35% / 100% auto;
    }
    .banner1.about{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/index-co-1.jpg")no-repeat left 35% / 100% auto;
    }
    .banner1.careers{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/handshake-1237743.jpg") right center /100% auto;
    }
    .banner1.contactus{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/contactus.jpg") right center / 100% auto;
    }
    .banner1.policy{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/policy.png")no-repeat right center / 100% auto;
    }
    .banner1.applications{
        background: linear-gradient(0deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/applications.jpg")no-repeat right 5% / 100% auto;
    }

/* -----------------*/   
    .ul-reset li, #product_area ol li{list-style: disc; }
    .ul-reset li ul li{list-style: circle;}
    .ul-reset, .ul-reset ul{padding-left: 20px;margin-bottom: 20px;}
    .item.right img{width: 100%;}
    #about_area .date, #about_area .title, #history_area .date, #history_area .title{font-weight: 600; margin-bottom: 0.3rem; padding-bottom: 0.3rem; border-bottom:1px solid var(--h2_color); color: var(--h2_color);}/*#005983 #news_list_area */
    #about_area .item {margin-bottom: 3rem;}    
    #about_area .text, #history_area .text{padding-left: 2.7rem; padding-right: 0.5rem;}/*width:calc(100% - 230px);*/
    #history_area {background-color: #dff6ff;}
/* -----------------*/  


    #product_area .card-img {text-align: center;margin-bottom: 1rem;}
    #product_area img{width: 30%;}
    .card-title{margin-bottom: 1rem;}
    .card-text h6{margin: 0.8rem 0rem 0.2rem;}
    .card-text ol{margin-left: 2.15rem;}


    #news_list_area .item {margin-bottom: 3.5rem;}
    #news_page_area .text{font-size: 1.4rem; margin-bottom: 1rem; color: rgba(58, 29, 1, .9); text-align: center;}
    #news_page_area .text{font-size: 1.2rem; margin-bottom: 2rem;}
    #news_page_area .content{margin: 0 2rem;}


    #contactus_area_no_hash .map_area{
        box-shadow: 0 0 10px 5px rgba(153, 107, 7, 0.3);
        border-radius: 10px;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }
    #contactus_area_no_hash p{font-size: .9rem; margin: .2rem 0; letter-spacing: .1rem;}
    #contactus_area_no_hash .setsumei{margin-bottom: 3rem;}
    #contactus_area_no_hash .badge{padding: .35em .8em;font-weight: 300;font-size: .4em;margin-right: .5em;letter-spacing: 0rem;}
    #contactus_area_no_hash p > a, #policy_area p > a{text-decoration: underline;}

    #policy_area h4{margin: 2rem 1rem .5rem;}
    #policy_area .section_body p, #policy_area ul{margin: 0 2.5rem 0;}/* font-size: .88rem;line-height: 1.8rem;*/
    #policy_area .section_body p.t0{margin-left: 1.4rem;}
    #policy_area ul li{margin-left: 1.4rem; padding-left: 1.8rem;font-weight: 300;}
    #policy_area ul{counter-reset: li;}
    #policy_area ul li{position: relative;}
    #policy_area ul li::before{
        content: counter(li)'. ';
        counter-increment: li;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
    }

    
    .app-body{text-align: center; margin-top: 2rem; margin-bottom:5rem;}
    .app-body .title { margin-bottom: 2.5rem;}
    .app-body .title-imgbox{
        width: 120px;
        height: 120px;
        background-color: #265179;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 1rem;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    .app-body .title-imgbox img{ width: AUTO; height: 65%;}
    .app-apn{background-color: #e0e0e0; padding: 0.2rem;} 
    .app-apn ul{display: flex; justify-content: center;}
    .app-apn a{padding: 0 0.5rem;}


    @media (min-width: 992px) {
        .top_space{margin-top: 65px;}/*65px*/
        #footer .card-body {text-align: center;}

        .container{max-width: 992px;}
        .banner .container{width: 580px;}
        .banner .wrap{width: 100%;}
        .BG_Green{display: flex; align-items: center; }/* .item*/
        .BG_Green .item{width: 50%;}
        .BG_Green .item:nth-child(2){padding-top: 2rem;}/*第二個item*/
        /*.img_box{width: 40%;}
        .content{width: 60%; margin-top: 0rem; margin-left: 2rem;}*/

        .carousel-card .category, .category{    
            width: 130px;
            font-size: 1.5rem;
            /*padding-left: 1.2rem;*/
        }
        .carousel-card .serial_number{font-size: 1.2rem;}
        .carousel-card .text{font-size: 1rem;}

        .banner1 {height: 300px;}
        .BG_Green{height: 50vh;}
        .half-box{display: flex;}
        .left, .right{width: 50%;}
        .left{padding-right: 20px;}
        .right{padding-left: 20px;}
        .item.right img{width: 80%;}

        #product_area .card_box{display: flex;}
        #product_area .card{width: 50%; margin: 10px;}

        #contactus_area_no_hash .left{width: 300px;}
        #contactus_area_no_hash .right{width:calc(100% - 300px)}
        #contactus_area_no_hash label {border-bottom: 1px solid rgba(0, 0, 0, 0.12);}
        .btn{letter-spacing: .1rem; border: 1px solid var(--btn-color_background-color); color: var(--btn-color_background-color);}
        .btn:hover{background-color: var(--btn-color_background-color); color: rgba(255, 255, 255, 1);}
        .btn:hover a{color: rgba(255, 255, 255, 1);}

        .app-BOX{display: flex; flex-wrap: wrap; }
        .app-height{height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
        .app-body{width: 33.33%; padding: 0 1rem; }
        .app-apn{width: 100%;}
        /*.clear{clear: both;}*/


        /*.content_box{width: 60%; margin: 0 0 0 50px; }*/

        /*.img_Fixed .content_box{ width: 90%; margin: 0 50px 0 50px;}*/

        /*.Left .content_box{order: 1; text-align: right; margin: 0 50px 0 0;}
        .Left .img_box{order: 2;}*/

    }


/* 測試區 */

    /*.container.main-container{color: #ffffff;}
    .row{--bs-gutter-x: 2rem;}*/

    /*.pdfdl {text-align: center; margin-top: -10px ; position: relative;}
    .pdfdl a {color: #bbbbbb; border-radius: .25rem; transition: .3s; padding: .2rem 2rem .3rem;
    }
    .pdfdl a:hover {border: 1px solid #ffffff;color: #ffffff;}
    .pdfdl i{margin-left: 0.5rem;}*/

    /*    
    .pdfdl a {
        padding: .2rem 2.2rem .4rem .8rem;
        position: relative;
    }
    .pdfdl a::after {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f1c1";
        font-size: 1.2rem;
        margin-top: .1rem;
        margin-left: 0.5rem;
    }
    */

    
    /*.card.about{
        background-color: rgba(255, 255, 255, 0.2);
        color:#ffffff;
        border: 0px;
        border-left:1px solid #ffffff;
    }

    .white-title {
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
    }

    h6.work-content-title{border-bottom: 1px solid #000;padding-bottom: 3px; margin-bottom: 3px;}
    .work-content-wrap small{font-size: 0.8rem;}*/

    /*.text-muted{color:#dddddd!important;}*/

    @media (max-width: 576px) {
        /*.carousel-item, .banner1  {height: 180px;}*/
      }
    @media (min-width: 768px) {
        /*.card img{width: 50%; height: 50%; 
            object-fit: cover; 填滿元素的寬度及高度(維持原比例)，通常會剪掉超出部分的物件。
        }*/
    }
    @media (min-width: 1200px) {
        /*.card img{ width: 90%; height: 90%;
            object-fit: cover; 填滿元素的寬度及高度(維持原比例)，通常會剪掉超出部分的物件。
        } */
    }
/* 測試區 */