.header{padding: .8rem 0 .5rem;background-color: #195E87; border-bottom: .15rem solid #bdbdbd;}

.logo, .header_nav {padding: 0 .8rem;}
.logo img {height: 36px;/*transform:scale(0.5, 0.5);*/}
.header_nav ol, ul{margin: 0; padding: 0;z-index: 99;}
.header_nav a{color:#bbbbbb; padding: 3px 10px; border: 1px solid rgba(255,255,255,.0);/* 預先做出有框的大小 border-radius: 5px; */}
.header_nav li{margin: 5px 0; padding: 3px 0 0 0; width: 100%;} 
.header_nav ul li ul {padding-left:.5rem;}/*第二層開始的ul*/

.header_nav a.active{color:#ffffff;}

.header_nav ul li ul a{color:#999999;} /*第二層開始的a*/
.header_nav > ul > li > ul{/*第二層ui的白底*/
    margin-top:.5rem;/**/
    padding: .1rem .25rem;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 4px 6px 2px rgba( 0, 0, 0, .3);
    border-radius: 5px;
}
    
.header_nav li:hover > a,.header_nav .angle_down:hover{
    color:#eeeeee;
    /*background-color: rgb(168, 168, 168);*/
    /*border: 1px solid rgba(255,255,255,.5);*/
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.header_nav ul li ul li:hover > a,.header_nav ul li ul .angle_down:hover{
    color:rgb(58, 58, 58, .8);
    background-color: transparent;
    /*border: 1px solid rgba(58, 58, 58,.5);*/
    border-bottom: 1px solid rgba(58, 58, 58,.5);
}

/* 利用::after 加上向下或向右的符號 S */

.angle_plus::after,.angle_down::after, .angle_right::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px; /*按鈕不獨立出來用*/
    /*padding-left: 0px; 按鈕獨立出來用*/
}

.angle_plus::after {content: "\f055";} /*+符號*/
.angle_down::after {content: "\f103";} /*向下符號*/
.angle_right::after {content: "\f101";}/*向右符號*/


/* 利用::after 加上向下或向右的符號 E */

/*.header {position: relative;}*/
.menu_btn{
    /*display: block;*/
    position: absolute;
    right: 1rem;
    top: .7rem; 
    color: #bbbbbb;
    background-color: transparent;
    border: 2px solid #bbbbbb;
    border-radius: 6px; 
    padding: 3px 5px 1px;
    z-index: 99;
}
.fa-bars{font-size: 1.8rem;}
.menu_btn:active{color: #ffffff;border: 2px solid #ffffff;}


/* 隱藏 .header_nav 選單 S */
.header_nav ul li ul{ display: none;}/**/
.header_nav_Open_Close{height: 0px; transform:translateY(-500px);}/**/
/* 隱藏 .header_nav 選單 E */

/* width>936px時 多層選單的定位 */
@media (min-width: 936px) {
    .header{height: 65px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .header_nav > ul{display: flex; white-space:nowrap;margin-top: -.45rem;} /*主選單 橫向排列*/
    .header_nav > ul > li{position: relative;}/*讓第二層定位*/
    .header_nav > ul > li > ul{top: 70%;left: -.5rem; position: absolute;} /*第二層定位*/

    .menu_btn{display: none;}
    .header_nav_Open_Close{height: auto;}
}