:root{
    --header_background-color:rgba(247, 247, 247, .95);
    --logoImgHeight:36px;
    --headerPadding-TB:calc((var(--nav-height) - var(--logoImgHeight)) / 2);
}
.row{margin: 0rem;padding: 0px 0.5rem;}/**/

.header{padding: var(--headerPadding-TB) 0 ; background-color: var(--header_background-color); /*padding: 0.8rem 0 0.5rem; border-bottom: .15rem solid #bdbdbd;*/}

.logo, .header_nav {padding: 0 0.8rem;}
/*.header_nav{height: 80vh; }*/
.logo img {height: var(--logoImgHeight);/*transform:scale(0.5, 0.5);*/}
.header_nav ol, .header_nav ul{margin: 0; padding: 0; z-index: 99;}
.header_nav a{color:rgb(80, 80, 80); border: 1px solid rgba(255,255,255,.0);/* 預先做出有框的大小 border-radius: 5px; */}
.header_nav li{padding: 0px 0.7rem 0.8rem; width: 100%; list-style: none; line-height: 1.5rem;} /*margin: 5px 0; padding: 3px 10px; */


.header_nav ul li > ul{/*第二層ul的白底*/
    margin: 0.5rem 0rem 0rem; 
    padding: 0.5rem 0.25rem 0rem;
    background-color: rgb(240, 240, 240);
    box-shadow:0px 4px 6px 2px rgba( 0, 0, 0, .3);
    border-radius: 5px;
    width: 100%;
}
.header_nav ul li ul a{color:rgb(80, 80, 80);} /*第二層開始的a*/

.header_nav .layer_2_title {margin: 0.1rem 0 0.4rem;}

.header_nav a.active{color:var(--logo_blue);}    
.header_nav li:hover > a, .header_nav .angle_down:hover,
.header_nav ul li ul li:hover > a, .header_nav ul li ul .angle_down:hover
{
    color:var(--logo_blue);
    border-bottom: 2px solid var(--logo_blue);
}
.header_nav ul li ul li:hover > a, .header_nav ul li ul .angle_down:hover{
    background-color: transparent;
}

/* 利用::after 加上向下或向右的符號 S */

.angle_plus::after,.angle_down::after, .angle_right::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px; /*按鈕不獨立出來用*/
    /*padding-left: 0px; 按鈕獨立出來用*/
}

.angle_plus::after {content: "\f055";} /*+符號*/
.angle_down::after {content: "\f103";} /*向下符號*/
.angle_right::after {content: "\f101";}/*向右符號*/


/* 利用::after 加上向下或向右的符號 E */

/*.header {position: relative;}*/
.menu_btn{
    /*display: block;*/
    position: absolute;
    right: 1rem;
    top: var(--headerPadding-TB); /*.7rem*/
    color: #bbbbbb;
    background-color: transparent;
    border: 2px solid #bbbbbb;
    border-radius: 6px; 
    padding: 3px 5px 1px;
    z-index: 99;
}
.fa-bars{font-size: 1.8rem;}
.menu_btn:active{color: #ffffff;border: 2px solid #ffffff;}

/* 隱藏 .header_nav 選單 S */
.header_nav ul li ul.show{display:block;}
.header_nav ul li ul{ display: none;}/**/
.header_nav_Open_Close{height: 0px; transform:translateY(-500px);}/**/
/* 隱藏 .header_nav 選單 E */



/* width>936px時 多層選單的定位 992px 860px */
@media (min-width: 768px) {

    .header_nav_Open_Close{height: 0px; transform:translateY(0px);}/**/
    .header{
        padding: 0rem; 
        height: var(--nav-height);/*65px*/
        display: flex;
        /*justify-content:space-between;*/justify-content: center;
        align-items: center;
    }
    /*.header_nav li{padding:0px 10px 15px;}*/
    .header_nav{height: 100%;}
    .header_nav > ul{display: flex; white-space:nowrap; height: 100%;} /*margin-top: -.45rem;主選單 橫向排列 white-space:nowrap;強制不換行*/
    .header_nav .layer_1{position: relative;}/*padding-top: 20px;讓第一層之後的定位*/
    .header_nav .layer_1 > li { line-height: var(--nav-height);}/*65px;*/
    .header_nav .layer_2_title { line-height: normal; }

    .header_nav .layer_2{position: absolute; left: 0; top: 100%; margin: 0rem; white-space: normal;} /*第一層之後的定位*/
    .header_nav .layer_2 ul{margin-top: 0.8rem;}

    
    .header_nav li:hover > ul {display: block;}
    .header_nav ul li ul.show {display:none;}/**/

    .menu_btn{display: none;}
    /*.header_nav_Open_Close{height: auto;}*/
    /*.header_nav ul li ul{ display: block;}開啟第二層調整測試用*/


    .header_nav ul li > ul.language {width: auto; left: unset; right: 12px; padding: 0 1rem;}
}