@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 103%;/*上下頁按鈕位置 */

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

}



.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .25;
    color: rgb(168, 168, 168); /*上下頁按鈕顏色 */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev{left: 25px; z-index: 4; }
[dir='rtl'] .slick-prev{right: 25px; left: auto;}
.slick-prev:before{content: '←';}
[dir='rtl'] .slick-prev:before{content: '→';}

.slick-next{right: 25px; z-index: 4;}
[dir='rtl'] .slick-next{right: auto; left: 25px;}
.slick-next:before{content: '→';}
[dir='rtl'] .slick-next:before{content: '←';}



/* Dots */
.slick-dotted.slick-slider{margin-bottom: 40px;/**/}

/* 產品區下方圓點調整 S */
.carousel-card .slick-dotted.slick-slider{margin-bottom: 20px;/**/}
/* 產品區下方圓點調整 E */

.slick-dots
{
    position: absolute;
    bottom: -23px;
    z-index: 3;
    /*background-color: rgba(204, 231, 247, 1);*/

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}


.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    background-color:rgba(106, 171, 113, 1) ;
    border-radius: 20px;
    content: '';
    text-align: center;

    opacity: .15;
    /*content: '•';
    color: rgba(106, 171, 113, 1);*/

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .85;
    /*color: rgba(106, 171, 113, 1);*/

}

/* 個別調整區 */
/*產品區上下頁按鈕位置調整 S */
.carousel-card .slick-prev, .carousel-card .slick-next {width: 30px; height: 30px; top: 101%;}
.carousel-card .slick-prev{left: 0.5rem;}
.carousel-card .slick-next{right: 0.5rem;}
.carousel-card .slick-prev:before, .carousel-card .slick-next:before{font-size: 30px;}
.slick-prev:before, .slick-next:before{color:rgb(0, 167, 234) }
/*產品區上下頁按鈕位置調整 E */

/*產品區分頁按鈕位置調整 E */
.carousel-card .slick-dots{bottom: -10px;}
.carousel-card .slick-dots li button:before{background-color:rgb(0, 167, 234) ;}
/*產品區分頁按鈕位置調整 E */

