/* Slider */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
    z-index: 1;

}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}

.slick-slide{
    display: none;
    float: left;
    position: relative;
    min-height: 1px;
    margin-top: 61.8px;
    height: 400px;/*160px*/
    width: 100%;
    background-color: #d1ffb6;/**/
    overflow: hidden;
}




[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{position: absolute; width: 100%; top:70%; transform:translateY(-70%);/*top: calc(-50%);*/}/*照片左右置中 height: 100%; left:50%; transform:translateX(-50%); */
/*.slick-slide img{height: 100%; float: right;} 照片靠右*/
.slick-slide.slick-loading img{display: none; }
.slick-slide.dragging img{pointer-events: none; }
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

.slider_box{
    position: absolute;
    top: 0;
    left: 5%;
    /*margin-left: 100px;*/
    width: 90%;
    height: 100%;/**/
    display: flex;
    align-items: center;/**/
    /*justify-content: center;*/
}


.slider_box_content{
    background-color: rgba(255, 255, 255, .65);
    padding:30px;
    border-radius: 10px;
    
    
}
.slider_box.maehe{top: 40%; height: 0; justify-content: center;text-align: center;}
.slider_box_content.green_shadow{box-shadow: 0px 3px 15px 2px #1a4700;}
.slider_box_content .Orange{color: rgb(255, 123, 0);}
.slider_box_content.black_shadow{box-shadow: 0px 3px 15px 2px #414141;}


.product-card .slick-slide{
    position: relative;
    min-height: 1px;
    margin:0px 5px 20px;
    height: auto;

    background-color: #eeeeee;
}

.product-card .slick-slide img{position: unset; width: 50%; transform:translateY(0%);}/*還原定位*/



@media (min-width: 380px) {
    /*.slick-slide{height: 260px; width: 100%;}
    .slick-slide img{top: 0;}*/
}
@media (max-width: 580px) {
    .slick-slide img{width: auto; top:0; transform:translateY(0%);height: 100%; left:50%; transform:translateX(-50%);}/*照片左右置中  */
}

@media (min-width: 768px) {
    /*.slick-slide{height: 400px;}
    .slick-slide img{top: 0;}*/
}

@media (min-width: 1024px) {
    /*.slick-slide{height: 400px;}
    .slick-slide img{top: 0;}*/
}
