    /*@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");*/
    /*
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
    * {margin: 0; padding: 0; list-style: none; font-family: 'Noto Sans TC', sans-serif;letter-spacing: .3rem;}
    */

    /*
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
    * {margin: 0; padding: 0; list-style: none; font-family: 'M PLUS 1p', sans-serif; letter-spacing: .3rem;}
    */

    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
    * {margin: 0; padding: 0; list-style: none; font-family: 'Noto Serif JP', serif; letter-spacing: .1rem;}

    ul li {list-style-type:none;}
    a {text-decoration: none; }
    p{line-height: 1.5rem; margin: .5rem 0;}
    
    
    body.div-gradient {        
        background: linear-gradient(90deg, rgba(250, 214, 137, .3)35%, rgba(254, 223, 225, .3)60%);
        background: -moz-linear-gradient(90deg, rgba(250, 214, 137, .3)35%, rgba(254, 223, 225, .3)60%);
        background: -webkit-linear-gradient(90deg, rgba(250, 214, 137, .3)35%, rgba(254, 223, 225, .3)60%);
        background: -o-linear-gradient(90deg, rgba(250, 214, 137, .3)35%, rgba(254, 223, 225, .3)60%);
        background: url(../img/bodybg.png);
        }


    #footer {width: 100%; font-size: 0.8rem;padding: 2px 0 20px; background-color: rgb(1, 64, 80, 1); }
    #footer, #footer a {color: #dfdfdf;}
    /*.copyright {border-top: 1px solid #bdbdbd; padding-top: 8px;}*/
    #footer p{ line-height: 1.2rem; margin: 0; letter-spacing: 1px;}


    .area{padding-bottom: 2rem;}
    .area .container{padding-top: 1rem; padding-bottom: 1rem;}
    #recruit_area{padding-bottom: 0rem;}
    

    .section_header{
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgb(110, 85, 47, 1);
    }
    h2.title, .sub_title{
        font-size: 1.8rem;
        color:rgb(110, 85, 47, 1);
        margin-bottom: 0px;
        position: relative;
    }    
    .sub_title{
        font-size: 1rem;
        line-height: 39px;
        opacity: .8;
        float: right;
        /*text-align: right;
        padding: 0;
        margin:-1.1rem 0 0 180px;*/        
    }/*margin-top: -2rem; margin-bottom: 1.5rem;*/


    .title_btn{position: absolute; font-size: .9rem; letter-spacing: .1rem; border: 1px solid; border-radius: 5px; top: 7px; margin-left: 10px; padding: 0px 8px 4px 8px; transition: .2s;}

    .Back_to_list_btn {position: fixed; font-size: .9rem; letter-spacing: .1rem; color: #fff; top: 150px; padding: 20px 3px;
        writing-mode: vertical-rl; text-align: center; background-color: rgba(8, 108, 108, .5); border-radius: 0 10px 10px 0; transition: .2s;}
    .Back_to_list_btn:hover{background-color:rgba(8, 108, 108, .8);color: #fff;padding: 20px 3px 20px 50px;}



    .item{ width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(128, 128, 128, .2);
    }

    a{color: rgb(8, 108, 108);}
    #home_area .date{width: 120px; margin-right: 2rem;}
    a:hover, a:hover *{color: rgb(247, 92, 47);}    
    
    #home_area .item a:hover .label, #news_area .item a:hover .label{text-decoration: underline;}

    

    body .area:nth-child(odd){width: 100%;background-color: rgba(182, 20, 20, .05);}

/* 輪播 S */
    #carouselExampleCaptions{background-color: rgb(255, 200, 148);}/**/
    #carouselExampleCaptions .carousel-item.bg1,
    #carouselExampleCaptions .carousel-item.bg2,
    #carouselExampleCaptions .carousel-item.bg3,
    #carouselExampleCaptions .carousel-item.bg4,
    #carouselExampleCaptions .carousel-item.bg5,
    #carouselExampleCaptions .carousel-item.bg6
    {height: 300px;}

    #carouselExampleCaptions .carousel-item.bg1{background: url(../img/banner/HOME-Smiconductor.jpg)no-repeat; background-size: auto 100% ; background-position:top center;}
    .bg1{position: relative;}
    .bg1 .txt{width: 100%; color: #fff; padding: 8PX 0; text-align: center; background: rgba(0, 0, 0, 0.8); font-size: 1.2rem; position: absolute; display: flex; bottom: 40px; justify-content: center;}
   /*毛玻璃效果filter: blur(20px);*/

    #carouselExampleCaptions .carousel-item.bg2{background: url(../img/banner/HOME-Kinkakuji.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg3{background: url(../img/banner/HOME-Arashiyama.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg4{background: url(../img/banner/HOME-02.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg5{background: url(../img/banner/HOME-101.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}
    #carouselExampleCaptions .carousel-item.bg6{background: url(../img/banner/HOME-9.jpg)no-repeat; background-size: auto 100% ; background-position:center center;}



/* 輪播 E */


    #about_area .row>*{flex-shrink: 1;}
    #about_area .container .section_wrap .section_body .row{--bs-gutter-x: 0rem; }
    #about_area .right{ margin-left: 1rem;}
    #about_area li{list-style: circle; margin-left: 1rem; }

    .map_img{padding: 10px 0 ; text-align: center;}
    .map_img img{ max-height: 300px;}

    /*#about_area .about_img{
        border-radius: 6px;
        background-color: rgba(255, 255, 255, .8);
        border: 1px solid rgba(128, 128, 128, 0.2);
        padding: 3px;
        margin-bottom:12px;
    }
    #about_area .about_img img{border-radius: 4px 4px 0 0;}
    #about_area .about_img p{text-align: center;font-size: .9rem; letter-spacing: 2px; margin: 3px 5px;}*/

    

    .wrap{margin:2.5rem 0 1.5rem;}
    .team{font-size: 1.4rem; text-align: center; margin:0 0 1.5rem; padding-bottom: 10px; border-bottom: 1px solid rgba(58, 29, 1, .3);}
    #members_area .row{margin:0 .5rem 2.5rem; }
    #members_area .col_photo{text-align: center;}
    #members_area .col_photo img{width: 50%;}
    #members_area .name{font-size: 1.1rem; letter-spacing: .2rem; margin-bottom: 5px; text-align: center;}
    #members_area .education{font-size: .9rem; letter-spacing: .1rem; color: rgb(218, 124, 18); margin-bottom: 10px; display: inline-block; border-top: 1px solid rgba(0, 0, 0, 0.15);}
    #members_area .experience li{font-size: .9rem; letter-spacing: .1rem; margin-left: 1.5rem; list-style: circle;}

    
    .Work_location{text-align: center;}
    .Work_location img{ max-width: 100%;margin-bottom: 10px;}

    .btn{letter-spacing: .1rem; border: 1px solid rgba(1, 64, 80, 0.9);color: rgba(1, 64, 80, 0.9);}
    .btn:hover{background-color: rgba(1, 64, 80, 0.9);color: rgba(255, 255, 255, 1);}
    .btn:hover a{color: rgba(255, 255, 255, 1);}



    #contactus_area .map_area{
        box-shadow: 0 0 10px 5px rgba(153, 107, 7, 0.3);
        border-radius: 10px;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }
    #contactus_area p{font-size: .9rem; margin: .2rem 0; letter-spacing: .1rem;}
    #contactus_area .setsumei{margin-bottom: 3rem;}
    #contactus_area .badge{padding: .35em .8em;font-weight: 300;font-size: .4em;margin-right: .5em;letter-spacing: 0rem;}
    #contactus_area p > a, #policy_area p > a{text-decoration: underline;}

    #policy_area h4{margin: 2rem 1rem .5rem;}
    #policy_area .section_body p, #policy_area ul{margin: 0 2rem 0; font-size: .88rem;line-height: 1.8rem;}

    #recruit_area {background-image: url(../img/recurit/Screentone2.png);}
    #recruit_area h4{font-size: 1.3rem;}
    #recruit_area h5{font-size: 1.05rem;}
    #recruit_area ul li, #policy_area ul li{margin-left: 1.2rem; padding-left: 1.4rem;}
    #recruit_area ul, #policy_area ul{counter-reset: li;}
    #recruit_area ul li, #policy_area ul li{position: relative;}
    #recruit_area ul li::before, #policy_area ul li::before{
        content: counter(li)'. ';
        counter-increment: li;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
    }

    #product-area .card-img{width: 100%; text-align: center;}
    #product-area .card-img img{width: 50%;} 
    #product-area .card-text{width: 100%;}
    #product-area .row{--bs-gutter-x: 0rem; }

    #product-area .card-title{margin-bottom: 0rem;}


    #product-area ol li, #recruit_area ol li{list-style: circle;}
    #product-area h6 {color: rgb(139, 53, 58);}

    .img_box{
        border-radius: 6px;
        background-color: rgba(255, 255, 255, .5);
        border: 1px solid rgba(128, 128, 128, 0.2);
        padding: 10px;
        margin-bottom:12px;
    }
    .img_box p{font-size: .9rem; letter-spacing: 2px; line-height: 1rem; margin: 5px 5px 0;}


    #news_page_area .date, #news_page_area .label{font-size: 1.4rem; margin-bottom: 1rem; color: rgba(58, 29, 1, .9); text-align: center;}
    #news_page_area .label{font-size: 1.2rem; margin-bottom: 2rem;}
    #news_page_area .content{margin: 0 2rem;}
    
    .content_item{margin-bottom: 1rem;border: 1px solid rgba(0, 0, 0, 0.1);}
    .content_header {background-color: rgba(250, 214, 137, .4);color: rgba(58, 29, 1, .9);padding:0.8rem}
    .content_header h4 {font-size: 1.2rem; letter-spacing: .2rem; margin-bottom: 0;}
    .content_header span{font-size: .9rem; opacity: .8;}
    .content_body {padding: 1rem .5rem; background-color: rgba(255, 255, 255, 0.4);}
    .content_txt{letter-spacing: 0rem; padding:0 .5rem;}
    .content_body ol{margin-bottom: 0;}
    .content_body li{list-style-type:circle;letter-spacing: .05rem;}


    #news_list_area, #product_list_area, #load-news{margin-top: 80px;}

    .card-text{ letter-spacing: 2px;}


    .pdfdl {text-align: center;} 
    /*.pdfdl a {color: #bbbbbb; border-radius: .25rem; transition: .3s; padding: .2rem 2rem .3rem;
    }
    .pdfdl a:hover {border: 1px solid #ffffff;color: #ffffff;}
    .pdfdl i{margin-left: 0.5rem;}*/

/*    
    .pdfdl a {
        padding: .2rem 2.2rem .4rem .8rem;
        position: relative;
    }
    .pdfdl a::after {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f1c1";
        font-size: 1.2rem;
        margin-top: .1rem;
        margin-left: 0.5rem;
    }
*/



    /*輪播img定位*/
    /*.carousel-item {height: 300px; overflow: hidden; width: 100%; position: relative;}
    .carousel-item img {position: absolute; display: flex;justify-content: center;}*/



    .banner1 { width: 100%;height: 300px; background-color: #000000;}/*margin-bottom: 15px;*/
    .container1 {width: 90%; height: 100%; margin: auto;}
    .banner1-txt {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #ffffff;
    }
    /*.banner1-txt h1 {font-weight: 700;
        border-bottom: 1px solid rgb(192, 192, 192);
        因為有align-items: flex-start 所以線的寬度會對齊h1這個容器 
    }*/
/*
    .banner1.siteNav{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/digital-map-1140975.jpg") right center / 100% auto;
    }
    .banner1.about{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("https://picsum.photos/id/2/2048/1024") right center / 100% auto;
    }
    .banner1.applications{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/itsupport-1635938.jpg") right center / 100% auto;
    }
    .banner1.support{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/technology-background.jpg") right center / 100% auto;
    }    
    .banner1.careers{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/handshake-1237743.jpg") right center /100% auto;
    }*/
    .banner1.contactus{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/contactus.jpg") right center / 100% auto;
    }
    .banner1.policy{
        background: linear-gradient(115deg, #022d41 10%, transparent 80%) center center / 100% 100%,
        url("../img/banner/policy.png")no-repeat right center / 100% auto;
    }
    .banner1.siteNav, .banner1.about, .banner1.applications, .banner1.support, .banner1.careers, .banner1.contactus, .banner1.policy{
        background-repeat  :no-repeat,no-repeat;
    }



    .card{background-color: rgb(255, 255, 255, .4); box-shadow: 0px 3px 6px 1px rgba(58, 29, 1, 0.1); border: 0px;}
    .card-header{background-color: rgba(250, 214, 137, .4);color: rgba(58, 29, 1, .9);}
    .card-img-top {text-align: center; padding: 2px; border-radius: 5px; object-fit: cover; /*填滿元素的寬度及高度(維持原比例)，通常會剪掉超出部分的物件。*/}
    .card-img-top img{width: 50%;}

    .card-title{letter-spacing: .1rem; font-size: 1.1rem;}
    .card-text{font-size: .9rem;}
    .card.about{
        background-color: rgba(255, 255, 255, 0.5);
        color:#ffffff;
        border: 0px;
        /*border-left:1px solid #ffffff;*/
    }
    .col_left{order: 2;}
    .col_right{order: 1;}

    /*.text-muted{color:#dddddd!important;}*/


    /*@media (min-width: 936px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl {
          max-width: 936px;}
    }*/
   

    @media (max-width: 576px) {.carousel-item, .banner1  {height: 180px;} }

      /*回到最上按鈕 起始*/
      #gotop {
        position:fixed;
        z-index:99;
        right:10px;
        bottom:10px;
        display:none;
        width:38px;
        height:38px;
        line-height:38px;
        text-align: center;
        color:#fff;
        background:#33b5e5; 
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);       
        border-radius:10%;
        padding-left: 5px;
        /*transition:all 0.5s;*/    
    }
    #gotop:hover, #gotop:hover > i{background:#0099CC;color: #fff;}
      /*回到最上按鈕 結束*/

    /* 如果不要固定上方選單要註銷這個區塊 起始*/
    /*固定選單*/
    .navFixed {
        position: fixed;
        z-index: 99; 
        top: 0;
        left: 0;
        margin-top: 0;
        min-width: 100%;
        transition: opacity .3s ease-out; 
    }/*opacity: .99;*/




    .carousel, .banner1{margin-top: 85px;}/**/
    /*補上選單空間*/
    /*.mt-add80 {margin-top: 75px;} 
    .new-body-mt{margin-top: 60px;} 補上選單空間*/
    /*如果不要固定上方選單要註銷這個區塊 結束*/




    @media (min-width: 768px){
        *{letter-spacing: .15rem;}

        #carouselExampleCaptions .carousel-item.bg1,
        #carouselExampleCaptions .carousel-item.bg2,
        #carouselExampleCaptions .carousel-item.bg3,
        #carouselExampleCaptions .carousel-item.bg4,
        #carouselExampleCaptions .carousel-item.bg5,
        #carouselExampleCaptions .carousel-item.bg6{height: 380px;background-size: auto 100%;}
        


        #home_area .item, #news_area .item,#home_area a, #news_area a{display: inline-flex;}
        #product_list_area .card-img-top{width: 130px;}
        #product_list_area .card-img-top img {width: 100%;}
        .col-md-9{padding-right: 25px;}

        #product-area .card-img{width: 20%;}
        #product-area .card-img img{width: 100%;} 
        #product-area .card-text{width: 40%;}        
        #product-area .row  .mb-3{width: 49%;}
       
        #about_area .wrap ~ .row{ padding-right: 1rem; padding-left: 1rem;}/**/
        #about_area .left, #about_area .right{padding: 0;}/**/
        #about_area .left{width: 118px;}
        #about_area .right{width:calc(100% - 118px); margin: 0 0 0 0;}
        .map_img{padding: 10px 0 10px 20px;}

        #contactus_area .left{width: 300px;}
        #contactus_area .right{width:calc(100% - 300px)}
        #contactus_area label {border-bottom: 1px solid rgba(0,0,0,0.12);}



        .team{margin-right: 1rem;margin-left: 1rem;}
        #members_area .col_photo{order: 1; width: 120px; display: flex; align-items: center; justify-content: center;}
        #members_area .col_photo img{width: 100%;}
        #members_area .name{text-align: left;}
        #members_area .col_experience{order: 2;width:calc(100% - 120px);}

        /*.justify {text-align: justify; text-justify: inter-ideograph;}
        .justify::after {content: ''; display: inline-block; width: 100%;}*/

        @media (min-width: 1100px){
            .carousel, .banner1{margin-top:63px;}/**/
        }   


        @media (min-width: 1513px) {
            #carouselExampleCaptions .carousel-item.bg1,
            #carouselExampleCaptions .carousel-item.bg2,
            #carouselExampleCaptions .carousel-item.bg3,
            #carouselExampleCaptions .carousel-item.bg4,
            #carouselExampleCaptions .carousel-item.bg5,
            #carouselExampleCaptions .carousel-item.bg6{height: 380px;background-size: auto 100%;}
        }/**/
    

    
    


    }
