/*.header{padding: 0m .8rem; height: 63px;
    background-color: rgba(86, 63, 46, .9);
    border-bottom: .15rem solid #bdbdbd;
}*/

#load-nav .header{background-color: rgba(188, 255, 211, 0.85);}/*rgba(1, 64, 80, .85)*/
.header_nav{background-color: rgba(188, 255, 211,0.95);}
.mezasu{
    min-width: 230px;
    font-size: .95rem;
    font-weight: 900;
    padding: 0 5px;
    background-color: rgba(188, 255, 211,0.85);
    color: rgb(255, 123, 0) ;
    text-align: center;
}



#load-nav .header{height:63px;}

.logo{padding: 8px 10px 0;height: 100%;display: flex;justify-content: center;align-items: center;

}/**/
.logo_img{width: 130px;height: 36px;background: url(../img/LOGO.png)no-repeat;background-size: auto 36px ;
    background-position:center center;}
.logo img { height: 36px; /*transform:scale(0.5, 0.5);*/}


.header_nav {text-align: center; margin-top: 0px;}
.header_nav>ul {height: 92.3vh; overflow-y: auto; padding-bottom: 30px;}/*控制卷軸*/
.header_nav ol,.header_nav ul{margin: 0; padding: 0;}/**/


.header_nav a{font-size: .95rem; color:#929292;  }/*color:#b9b9b9;*/
.header_nav li{padding: 15px 10px; position: relative;}
.header_nav li:hover a{color: rgb(32, 143, 18);}/*rgb(254, 223, 225)*/
.header_nav li::after {position: absolute; content: ''; width: 0%; height: 5px;bottom: 0;left: 40%;transition: .3s;}
.header_nav li:hover::after {width: 60%;left: 20%;background-color: rgb(32, 143, 18);}/*rgb(254, 223, 225)*/

.header_nav a.active{color:rgb(32, 143, 18);}/*color:#ffffff;*/

.header_nav .test{display: none;}/*隱藏橫向選單中調整空間用的li*/


/*.header::before{
    content: 'Anjet Research Lab 株式会社はパワーデバイス設計でグリーンテクノロジーに貢献します';
    position: absolute;
}*/


/*.header_nav ul li ul {padding-left:.5rem;}/*第二層開始的ul*/
/*.header_nav ul li ul a{color:#999999;} /*第二層開始的a*/
/*.header_nav > ul > li > ul{/*第二層ui的白底*/
/*    margin-top:.5rem;
/*    padding: .1rem .25rem;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 4px 6px 2px rgba( 0, 0, 0, .3);
    border-radius: 5px;
}*/
    
/*.header_nav li:hover > a,.header_nav .angle_down:hover{
    color:#eeeeee;
    border-bottom: 1px solid rgba(255,255,255,.5);
}*/
/*.header_nav ul li ul li:hover > a,.header_nav ul li ul .angle_down:hover{
    color:rgb(58, 58, 58, .8);
    background-color: transparent;
    /*border: 1px solid rgba(58, 58, 58,.5);*/
    /*border-bottom: 1px solid rgba(58, 58, 58,.5);
}*/

/* 利用::after 加上向下或向右的符號 S */
/*.angle_plus::after,.angle_down::after, .angle_right::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;*/
    /*margin-left: 10px; 按鈕不獨立出來用*/
    /*padding-left: 0px; 按鈕獨立出來用*/
/*}*/

/*.angle_plus::after {content: "\f055";} +符號*/
/*.angle_down::after {content: "\f103";} 向下符號*/
/*.angle_right::after {content: "\f101";}向右符號*/
/* 利用::after 加上向下或向右的符號 E */



/*.header {position: relative;}*/
.menu_btn{
    /*display: block;*/
    position: absolute;
    right: 1rem;
    top: .7rem; 
    color: #bbbbbb;
    background-color: transparent;
    border: 2px solid #bbbbbb;
    border-radius: 6px; 
    padding: 5px 5px 1px 6px;
    z-index: 99;
}
.fa-bars{font-size: 1.8rem;}
.menu_btn:active{color: #ffffff;border: 2px solid #ffffff;/**/}


/* 隱藏 .header_nav 選單 S */
.header_nav ul li ul{ display: none;}/**/
.header_nav_Open_Close{height: 0px; transform:translateY(-1000px);}/**/
/* 隱藏 .header_nav 選單 E */


/* width>936px 866px 768px 時 多層選單的定位*/
@media (min-width: 1100px) {
    .header{
        display: flex;
        justify-content:space-between;
        align-items: center; z-index: 120;
    }/**/

    .mezasu{background-color: rgba(188, 255, 211,0);}

    .header_nav {background-color: rgba(0, 0, 0, 0);  }/*width: 82vw;*/
    .header_nav>ul{display: flex; white-space:nowrap; padding-right: 16px;} /*主選單 橫向排列*/
    .header_nav>ul {height: 100%;overflow-x: auto; overflow-y: hidden; padding-bottom: 0px;}
    .header_nav>ul>li{margin-top: -4px;}
    .header_nav li{padding: 20px 9px;}
    .header_nav li:hover::after {width: 100%;left: 0;}/*調整選單下方出現的方塊寬度位置*/
    /*.header_nav > ul > li{position: relative;}讓第二層定位*/
    /*.header_nav > ul > li > ul{top: 70%;left: -.5rem; position: absolute;} 第二層定位*/
    .menu_btn{display: none;}
    .header_nav_Open_Close{height: auto; transform:translateY(0px);}

    /*橫向選單中調整空間用的li*/
    .header_nav .test{display: block; width: 100%; padding: 0;margin-left: -10px; z-index: -99;}
}

@media (min-width: 1100px) {
    .mezasu{}
}


::-webkit-scrollbar {width: 15px; height: 6px;}/* 卷軸整體/寬度設定 */
::-webkit-scrollbar-track {background: rgb(208, 208, 208);}/* Track 卷軸整條背景色 */
::-webkit-scrollbar-thumb {background: rgb(128, 128, 128);}/* Handle 卷軸移動區塊背景色 */
::-webkit-scrollbar-thumb:hover {background: rgb(48, 48, 48);}/* Handle on hover 滑鼠經過卷軸移動區塊時背景色 */
